[Unit]
Description=PM2 next gen process manager for Node.js
After=network.target remote-fs.target
Before=collectd.service

[Service]
Type=forking
User={{ nodejs_user }}
Environment=PM2_HOME=/opt/node/.pm2


ExecStart=/usr/lib/node_modules/pm2/bin/pm2 resurrect
ExecReload=/usr/lib/node_modules/pm2/bin/pm2 reload all

ExecStop=/usr/lib/node_modules/pm2/bin/pm2 dump
ExecStop=/usr/lib/node_modules/pm2/bin/pm2 delete all
ExecStop=/usr/lib/node_modules/pm2/bin/pm2 kill

[Install]
WantedBy=multi-user.target
